name: VM 16GB Tailscale
on: 
  workflow_dispatch:

jobs:
  start-vm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configurar Usuario e Senha
        run: |
          echo "runner:suasenha123" | sudo chpasswd
          # Isso garante que o SSH aceite login por senha
          sudo sed -i 's/PasswordAuthentication no/PasswordAuthentication yes/' /etc/ssh/sshd_config
          sudo systemctl restart ssh

      - name: Conectar ao Tailscale
        uses: tailscale/github-action@v2
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}

      - name: Manter VM Ativa
        run: |
          echo "Conecte via: ssh runner@$(tailscale ip -4)"
          while true; do sleep 60; done
