name: Windows 14GB - Windows App Fixed
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Ligar Rede (Tailscale)
        shell: powershell
        run: |
          $url = "https://pkgs.tailscale.com/stable/tailscale-setup-latest.exe"
          Invoke-WebRequest -Uri $url -OutFile "ts.exe"
          Start-Process -FilePath ".\ts.exe" -ArgumentList "/S" -Wait
          & "C:\Program Files\Tailscale\tailscale.exe" up --authkey=${{ secrets.TAILSCALE_AUTHKEY }} --accept-routes

      - name: Criar Usuario e Liberar RDP
        shell: powershell
        run: |
          net user runneradmin Suasenha123! /add
          net localgroup Administrators runneradmin /add
          # Garante que o Windows App consiga entrar
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

      - name: Baixar Arquivos (Dropbox)
        shell: powershell
        run: |
          Invoke-WebRequest -Uri "https://www.dropbox.com/scl/fi/7eiczvgil84czu55dxep3/Downloads.bat?rlkey=wzdc1wxjsph2b7r0atplmdz3p&dl=1" -OutFile "Downloads.bat"
          cmd /c Downloads.bat

      - name: Manter Ativo
        shell: powershell
        run: |
          while($true) { Start-Sleep -Seconds 60 }
