name: Windows_RDP_Com_Espaco
on: workflow_dispatch # Permite iniciar manualmente

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 360 # A máquina fica ligada por até 6 horas

    steps:
      - name: Liberar espaço no Disco C
        shell: pwsh
        run: |
          Write-Host "Limpando arquivos desnecessários para ganhar espaço..."
          rm -Recurse -Force "C:\Microsoft\AndroidNDK" -ErrorAction SilentlyContinue
          rm -Recurse -Force "C:\Microsoft\AndroidSDK" -ErrorAction SilentlyContinue
          rm -Recurse -Force "C:\hostedtoolcache\windows\CodeQL" -ErrorAction SilentlyContinue
          Write-Host "Espaço livre atual:"
          Get-PSDrive C | Select-Object Size, Free

      - name: Baixar e configurar Ngrok
        run: |
          Invoke-WebRequest https://bin.equinox.io/c/b341392/ngrok-v3-stable-windows-amd64.zip -OutFile ngrok.zip
          Expand-Archive ngrok.zip
          
      - name: Autenticar Ngrok
        run: .\ngrok\ngrok.exe authtoken ${{ secrets.NGROK_AUTH_TOKEN }}

      - name: Configurar Usuário e Senha
        run: |
          net user runneradmin "SenhaSegura123!" /add
          net localgroup administrators runneradmin /add
          echo "Usuario: runneradmin"
          echo "Senha: SenhaSegura123!"

      - name: Ativar Acesso Remoto (RDP)
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1

      - name: Abrir Túnel e Mostrar IP
        run: |
          Start-Process Powershell -ArgumentList "-NoExit -Command '.\ngrok\ngrok.exe tcp 3389'"
          Write-Host "Aguardando IP do Ngrok..."
          Start-Sleep -Seconds 10
          Invoke-WebRequest -Uri http://localhost:4040/api/tunnels | Select-String -Pattern 'tcp://[^"]+'

      - name: Manter Máquina Viva
        run: |
          Write-Host "Conecte agora usando o IP acima!"
          Start-Sleep -Seconds 21600 # Mantém ligada por 6 horas
