name: PC Windows 16GB
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Ligar Tailscale
        shell: powershell
        run: |
          iex ((New-Object System.Net.WebClient).DownloadString('https://tailscale.com/install.ps1'))
          tailscale up --authkey=${{ secrets.TAILSCALE_AUTHKEY }} --accept-routes
      - name: Criar Usuario PC
        shell: powershell
        run: |
          $pass = ConvertTo-SecureString "Suasenha123!" -AsPlainText -Force
          New-LocalUser "runneradmin" -Password $pass -Description "PC User"
          Add-LocalGroupMember -Group "Administrators" -Member "runneradmin"
          Add-LocalGroupMember -Group "Remote Desktop Users" -Member "runneradmin"
      - name: Manter Ativo
        shell: powershell
        run: |
          echo "Conecte no Windows App com o IP do Tailscale"
          echo "User: runneradmin | Senha: Suasenha123!"
          while($true) { Start-Sleep -Seconds 60 }
